.table {
	thead {
		tr {
			// position: sticky; top: 1rem; z-index: 1;
			th {
				background-color: transparent;
				border-bottom: 1px solid #d0d0d057 !important;
				border-top: none;
				font-family: "HKGrotesk-Bold";
				padding: 0.63rem 1rem;
				// &:first-child {
				// 	border-top-left-radius: 5px;
				// }
				// &:last-child {
				// 	border-top-right-radius: 5px;
				// }
				&.sessionBegins {
					width: 120px
				}
				// &.sessionFeaturedUsers {
				// 	max-width: 250px
				// }
				&.sessionActions {
					width: 160px
				}
			}
		}
	}
	tbody {
		tr {
			&#alertMessages {
				td {
					padding: 0;
				}
			}
			// &.sessionLeader {
			// 	td {
			// 		border-top: 2px solid rgba(0, 0, 0, .1);
			// 	}
			// }
			// &:not(.sessionLeader) {
			// 	td {
			// 		&:first-child {
			// 			color: transparent;
			// 		}
			// 	}
			// }
			td {
				background-color: #efefef;
				vertical-align: middle;
				padding: 0.63rem 1rem;
				&.sessionBegins {
					width: 120px
				}
				// &.sessionFeaturedUsers {
				// 	max-width: 250px
				// }
				&.sessionActions {
					width: 160px
				}
			}
		}
	}
}
.table-hover > tbody > tr:hover {
	background-color: #ffffffa6 !important;
}
th {
	font-size: 0.85rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	#table-history_wrapper {
		overflow-x: inherit;
		table {
			width: 100% !important;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}