.table {
	thead th {
		border-bottom: (2 * $table-border-width) solid $dark;
		border-top: none;
		font-family: "HKGrotesk-Bold";
	}
}
th {
	font-size: 0.85rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	#table-history_wrapper {
		overflow-x: inherit;
		table {
			width: 100% !important;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}