//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

// @import "variables";
// @import "bootstrap";
// @import "fonts";
@import "bkool-variables";
@import "bootstrap-general";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
    #filterSidebar {
        height: calc(100vh - 76px);
        left: -100%;
        overflow-y: auto;
        position: absolute;
        transition: all .25s;
        z-index: 10;
        &.expand {
            left: 0;
        }
    }
    #content {
        height: calc(100vh - 76px);
        overflow-y: scroll;
    }
    #sessionsContent {
        padding-bottom: 64px;
    }
    #sessionsPagination {
        bottom: 0;
        height: 64px;
        position: fixed;
        width: 100%;
    }
    #btnSidebar {
        &.btn-outline-white {
            &:focus {
                background-color: transparent;
                border: 2px solid white;
                color: white;
            }
        }
        span {
            pointer-events: none;
        }
    }
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

// @import "components/slider";
@import "components/bkool-alert";
@import "components/bkool-accordion";
@import "components/bkool-buttons";
@import "components/bkool-button-group";
@import "components/bkool-card";
@import "components/bkool-dropdown";
@import "components/bkool-font";
@import "components/bkool-forms";
@import "components/bkool-header";
@import "components/bkool-modal";
@import "components/bkool-nav";
@import "components/bkool-navbar";
@import "components/bkool-pagination";
@import "components/bkool-spinner";
@import "components/bkool-tables";
@import "components/bkool-type";
@import "components/bkool-utilities";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    body {
        #filterSidebar {
            height: calc(100vh - 76px);
            left: 0;
            max-width: 300px;
            position: relative;
        }
        #sessionsPagination {
            width: calc(100% - 300px);
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}